img {
  height: 100%;
}

a {
  text-decoration: none;
}

hr {
  width: 80%;
}

@media screen and (min-width: 500px) {
  .main-container {
    width: 500px;
  }

  .profile-box {
    width: 15em;
  }

  .main-body {
    width: calc(100% - 20em);
  }

  .app-thumb {
    width: 15em;
  }

  .app-description {
    padding: 1em;
    width: 100%;
  }
}

@media screen and (min-width: 1080px) {
  .main-container {
    width: 980px;
  }

  .app-description {
    padding: 1em;
    width: calc(100% - 20em);
  }
}

@media screen and (min-width: 200px) and (max-width: 475px) {
  .main-container {
    width: 99%;
  }

  .profile-box {
    width: 100%;
  }

  .main-body, {
    width: 100%;
  }

  .app-thumb {
    width: 100%;
  }

  .app-description {
    width: 100%;
  }
}

.icon {
  width: 20px;
}

.icon-bar {
  height: 20px;
  width: 6em;
  margin-top: 1em;
}

.div-row {
  float: left;
}

.div-row-item {
  display: block;
  float: left;
}

.profile-box {
  background-color: grey;
  color: white;
  padding-top: 1em;
  padding-bottom: 1em;
}

.main-body {
  color: grey;
  padding-left: 1em;
  padding-right: 1em;
}

.profile {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  width: 10em;
  height: 10em;
  border-radius: 50%;
  -webkit-filter: grayscale(77%);
  filter: grayscale(77%);
}

.center-h {
  margin-left: auto;
  margin-right: auto;
}

.name-text {
  font-family: Oswald;
  text-align: center;
}

.main-body .name-text {
  text-align: left;
  margin-top: 1em;
}

.std-text {
  font-family: Oswald;
  margin-bottom: 2em;
}

.main-body hr {
  width: 100%;
}

.project-item {
  margin-bottom: 2em;
}

.outer-skills-bar {
  height: 1.3em;
  width: 60%;
  padding: 2px;
  background-color: white;
  margin-top: .5em;
  margin-bottom: .5em;
  position: relative;
}

.skill {
  background-color: grey;
  height: 100%;
  margin-left: 0;
  font-family: Oswald;
  font-size: 75%
}

.skill span {
  position: absolute;
  display: block;
  width: 100%;
  text-align: center;
}

#java { width: 100%; }
#scala { width: 90%; }
#js { width: 85%; }
#html { width: 70%; }
#css { width: 70%; }
#python { width: 100%; }
#data { width: 100%; }
#devops { width: 90%; }
#admin { width: 70%; }
#git { width: 100%; }
