.circleThatShit {
    border-radius: 50%;
    max-width: 200px;
    max-height: 200px;
    margin-left: auto;
    margin-right: auto;
}

.centerThatShit {
	text-align: center;	
}

.autoMarginThatShit {
	margin-left: auto;
	margin-right: auto;
	width: 200px;
	height: 200px;
}

.buttonUp {
	background-color: #008CBA;
	border-radius: 5px;
	margin-bottom: 5px;
}

a:link {
	color: white;	
}

a:visited {
	color: white;	
}

#mainContainer {
	background: linear-gradient(to bottom, #b3b0aa, white);
}